*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #efefef;
    
}
.topo{
    width: 100%;
    height: 80px;
    background-color: #ED4B51;
}

.cabecalho{
    width: 100%;
    height: 100%;
    margin: auto;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cabecalho ul{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    text-align: end;

}
.menu a{
    text-transform: uppercase;
    text-decoration: none;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;

}
.cabecalho img{
    width: 50px;
    height:50px;
}
.menu {
    z-index: 99;
}
#img{
    position: absolute;
    right: 0;
    z-index: 1;
    width: 90%;
}
.sobre h1{
    font-size: 2.7em;
    color: #424b54;
    margin-top: 80px;
    margin-left: 100px;
}
.sobre p{
    font-size: 1.1em;
    color: #707070;
    margin-top: 10px;
    margin-left: 100px;
}
.setas{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
}
.ideia{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #707070;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8em;
    position: relative;
    top: 30px;
}
.espacamento{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 60px;
    right: 180px;
}
.bandeira{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #707070;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8em;
    position: relative;
    top: 70px;
}
.engrenagem{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #707070;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8em;
    position: relative;
    top: 70px;
    right: 5px;
}
.retangulo img{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
}
.texto p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #707070;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 16em;
}
.rodape{
    width: 100%;
    height: 387px;
    background-color: #4F8893;
}
.rodape img{
    width: 150px;
    height: 150px;
    margin-left: 150px;
}
.rodape ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    text-transform: uppercase;
    position: relative;
    top: 120px;
    right: 12em;
}

.rodape a{
    list-style-type: none;
    text-decoration: none;
    color: white;
    padding: 50px 50px;
    position: relative;
    right: 6em;
}
.rodape p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #707070;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4em;
    position: relative;
    bottom: 5em;

}
.mancha{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
header .fa-bars{
    display: none;
}
.menu{
    display: none ;
}
@media(max-width: 800px) {
    header .fa-bars{
        display: none;
    }
     .cabecalho ul{
         font-size: 20px;
     }
    .menu a{
        font-size: 0.6em;
        padding: 10px;
     }
     .retangulo{
        width: 100%;
     }
     .texto p{
            margin-top: 150px;
            font-size: 14px
     }
     .rodape img{
        position: relative;
        right: 100px;
     }
     .rodape a{
        margin-left: 300px;
     } 
     .rodape p{
        margin-left: 10em;
     }
    .fa-bars{
        display: none;
    }
}
@media(max-width: 425px) {
    header .fa-bars{
        display: block;
        
    }
     .topo{
         height: 50px;
     }
     .espacamento{
        margin-left: 100px;      
     }
     .ideia,.engrenagem,.bandeira h3{
         font-size: 20px;
     }
    .retangulo{
        width: 100%;
    }
    .texto p{
    font-size: 0.5em;
    margin-top: 120px
    }
    .rodape p{
        height: 50px;
        font-size: 15px;
        display: flex;
        justify-content: flex-end;
        text-align: end;
    }
    
}