
:root{
    --background: #EFEFEF;
    --texto: #424B54;
    --rodapé: #4F8893;
    --rosa_escuro: #AD1F3B;
    --rosa_claro: #ED4B51; 
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #efefef;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.topo{
    width: 100%;
    height: 150px;
}
header .fa-bars{
    color: var(--texto);
    font-size: 3em;
    display: block;
    margin-left: 30px;
}
.cabecalho{
    width: 100%;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--rosa_claro);

}
.cabecalho ul{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
}
.menu a{
    text-transform: uppercase;
    text-decoration: none;
    color:white;
    padding: 12px 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
}
#menu{
    position: absolute;
    top: 5.5em;
    width: 100%;
    background-color: var(--texto);
    left: 0;
    display: none;
}
#menu ul{
    flex-direction: column;
    height: 200px;
    margin-left: 1em;
}
#menu a{
    display: block;
    padding: 0.5em 0;
}

.container{
    width: 100%;
    /* margin: 0 auto; */
}
.tudo_info{
    width: 100%;
    height: 180px;
}
.tudo_info h1{
    margin-left: 60px;
    color: var(--texto);
    font-size: 1.6em;
}
.barrinha{
    margin-left: 100px;
    color: var(--texto);
}

.informacao{
    
    /* background-color: var(--rosa_claro); */
    margin: auto;
    margin-top: -20px;
    text-align: center;
    padding:30px 0px;
    
}
.informacao p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    color: var(--texto);
    padding:0px 50px;
}
.content{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.content section{
    width: 70%;
}
.card{
    /* width: 100%; */
    margin-bottom: 2em;
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
    width: 350px;
    height: 120px;
}
.card img{                                   
    width: 150px;
    height: 120px;
    margin-right: 10px;
}
.card div{
    padding: 2em;
}
footer{
    width: 100%;
    font-size: .5em;
    background-color: #4F8893;
    padding:3px;
}

.btn button{
   padding: 5px 20px;
   margin-left: 160px;
   margin-bottom: 40px;
   margin-top: 10px;
}

.rodape nav{
    padding-left: 40px;
}
.englobamento{
    display: flex;
    margin-top: 5px;
}
.rodape img{
    width: 90px;
    height: 90px;
    
}
.rodape ul{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    flex-direction: column;
    list-style-type: none;
    text-transform: uppercase;
    position: relative;
    
    /* top: 120px;
    right: 12em; */
    
}
.voltarAOTopo{
    list-style-type: none;  
}

.rodape a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}   
.rodape p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #707070;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 30px;
    font-size: 1.4em;
}

.a h2{
    font-size: 1em;
    margin-top: -20px;
}
.a p{
    font-size: 0.8em;   
}
.a {
    background-color: var(--rosa_escuro);
    border-radius: 15px;
    height: -60px;
}
.tst3{
display: none;
}

/* fim mobile 425px */


@media (min-width: 800px) {
header .fa-bars{
    display: none;
}

.a{
    width: 100px;
}
.tudo_info h1{
    font-size: 2em;
    margin-left: 180px;
}
.barrinha{
    width: 400px;
    margin-left: 190px;
}
.informacao{
    padding: 30px 80px;
}
.tst1{
    display: flex;  
}
.tst2{
    display: flex;  
}
.tst3{
    display: flex;
}
.btn button{
    margin-left: 350px;
}
.rodape a{
    font-size: 1.5em;
}
.rodape p{
    margin-left: 60px;
    font-size: 3.2em;

    }
    
}/* fim 800px */


@media (min-width: 1366px){
.tudo_info h1{
    font-size: 2.5em;
    margin-left: 400px;
}
.barrinha{
    margin-left: 455px;
}
.informacao p{
    font-size: 1.4em;
    padding: 0px 300px;
    margin-left: -50px;
}
.btn button{
    padding: 5px 70px;
    margin-left: 580px;
}
.tst1{
    margin-left: 230px;
}
.tst2{
    margin-left: 230px;
}
.tst3{
    margin-left: 230px;
}
.a h2{
    font-size: 0.9em;
}
.card img{
    width: 180px;
}
.rodape p{
    margin-left: 112px;
    font-size: 6.2em;
    }

}/* fim 1366px */

/* inicio css cadastro 425px*/
.txt h1{
    font-size: 1.8em;
    margin-left: 40px;
}
.txt p{
    font-size: 0.9em;
    padding: 15px 60px;
}
.form_cadastro{
    width: 100%;
    max-width: 350px;
    margin: 1em auto;
    box-shadow: -1px 5px 15px #000000;
    padding: 1.5em;
    border-radius: 15px;
    margin-bottom: 3em;
}
.campo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}
.campo label{
    text-transform: uppercase;
}
input[type="text"],input[type="password"],.campo input[type="email"],input[type="date"]
select{
    width: 50%;
    background-color: var(--background);
    border: none;
    outline: none;
    border-bottom: solid 1px #7278c3;
    color: #cccccc;
}
.campo input:focus{
    background-color: #2f2f2f;
}
.campo fieldset{
    border: none;
}
.campo fieldset label{
    margin: 2em 1em 2em 0;
}
.botao button{ 
    background-color: var(--rosa_claro);
    color: var(--background);
    border-radius: 30px;
    padding: 0px 30px;
}

/* fim media 425px */

/* inicio 800px cadastro */
@media (min-width: 800px){
.txt h1{
    padding: 0px 140px;
}
.txt p{
    padding: 15px 100px;
}
.form_cadastro{
    max-width: 400px;
    height: 300px;
}

}/* fim 800px cadastro */

/* inicio 1366px cadastro */
@media (min-width: 1366px){
.txt h1{
    font-size: 3em;
}
.txt p{
   font-size: 1.8em;
   padding: 15px 295px; 
    }
}
/* fim 1366px cadastro */